.outer-app {
    background-color: #3a3a3a;
}

.inner-app {
    background-color: #000;
    border-radius: 1cm;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    color: #f1f1f1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.body {
    color: #f1f1f1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}


.footer {
    color: #f1f1f1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}


/* Chart */
.chart {
    width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Table */
.table {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;

}

.table table {
    border: 1px solid #f1f1f1;
    border-collapse: collapse;
}

.table th {
    padding: 10px 20px;
    border: 1px solid #f1f1f1;
    background-color: #2d2d2d;
}

.table td {
    padding: 10px 20px;
    border: 1px solid #f1f1f1;
}

.table tbody,
thead {
    align-items: center;
    text-align: center;
}

/* searchBox */

.searchbox {
    color: #f1f1f1;
    font-size: 20px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.search-title {
    text-align: center;
    margin-bottom: -20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    overflow: visible;
    padding: 10px;
}

.dropbtn {
    background-color: #000;
    color: #f1f1f1;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 5px;
}

.dropbtn:hover {
    color: #000;
    background-color: #f1f1f1;

}

.dropdown-content {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    background: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-cat {
    display: grid;
    background: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #000;
}

.dropdown-content label {
    color: #000;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content input[type="radio"] {
    margin-right: 8px;
}

.dropdown:hover .dropdown-content {
    display: grid;
}

.dropdown-content label:hover {
    background-color: #f1f1f1;
}